body{
	margin-top: 10px;
	margin-left: -400px;
	padding-left: 50%;
	background-color: #FFFEF6;
	width:800px;
}

#ch,#en{
	color:black;
	resize: none;
}

#title{
	font-size:30px;
	color:black;
}

#head{
	margin-bottom: 10px;
}

#translate{
	vertical-align: middle;
	text-align: center;
}

#functions{
	text-align: center;
}